/*
Posicionamiento --> static, absolute, relative, fixed
Modelo de caja (Box model) --> margin, border, padding, content
Tipografía --> tipos, tamaños de fuente, etc
Estilos visuales --> box-shadow, border-radius, gradient, etc
Otros --> reglas CSS y más */
:root{
    --bitcoin-orange:#F7931A;
    --soft-orange:#FFE9D5;
    --secondary-blue:#1A9AF7;
    --soft-blue:#E7F5FF;
    --warm-black:#201E1C;
    --black:#282623;
    --grey:#BABABA;
    --off-white:#FAF8F7;
    --just-white:#FFFFFF;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
    scroll-behavior: smooth;
}
header{
    position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    min-width: 320px;
    height: 334px;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}
header figure{
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
    justify-self: center;
}
header .header--title-container{
    width: 90%;
    min-width: calc(320px*0.9);
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    align-self: center;
    text-align: center;
    justify-self: center;
}
header .header--title-container h1{
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--just-white);
}
header .header--title-container p{
    margin-top: 25px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--just-white);
    justify-self: center;
}
header .header--button{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    padding: 15px;
    width: 229px;
    height: 48px;
    /* Decoracion */
    background: var(--just-white); border-radius: 5px;
    box-shadow: rgba(89, 73, 30 ,0.16) 0 4px 8px; border: none;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-align: center;
    color: var(--warm-black);
}

header .header--button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background: url('/assets/icons/down-arrow.svg') no-repeat center
}
main{
    width: 100%;
    min-width: 320px;
    height: auto;
    background-color: var(--off-white);
}
main .main-exchange-container{
    width: 100%;
    padding-top: 70px;
    text-align: center;
}
main section .backgroundImg{
    background: url(/assets/img/Bitcoin.svg) no-repeat center/cover ;;
    width: 200px;
    height: 200px;
    margin: 0 auto 40px;
}
main section .main-exchange-container--title{
    width: 90%;
    margin: 0 auto;
    max-width: 900px;
}
main section .main-exchange-container--title h2{
    margin-bottom: 24px;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--warm-black);
}
main section .main-exchange-container--title p{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
}
main .main-tables-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px auto;
}
main section .table-container{
    margin: 20px auto;
    background-color: var(--off-white);
    width: 80%;
    min-width: 256px;
    max-width: 270px;

}
main section .table-monedas{
    display:grid;
    grid-template-areas:'title title' 'text price' 'text price' 'text price' 'text price' 'p  p';
    margin: 0;
    width: 95%;
}
main section .table-comisiones{
    display:grid;
    grid-template-areas:'title title' 'text price' 'text price''text price''text price' 'p p';
    width: 95%;
}
 main .table-grid p{
    background-color: var(--just-white);
    margin: 1px;
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 4rem;
    color: #757575;
    text-align: left;
    padding-left: 15px;
}
.table-container h2{
    grid-area: title;
    padding-left: 10px;
    text-align: left;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.3rem;
    margin-bottom: 10px;
}
.main-first-table-container h2{
    color:var(--bitcoin-orange) ;
}
.main-second-table-container h2{
    color:var(--secondary-blue) ;
}
main .table-grid .table-price{
    text-align: center;
    padding: 0;
    font-size: 1.4rem;
    font-weight: 300;
}
.table-grid .table-up-left-corner{
    border-top-left-radius: 8px;
}
.table-grid .table-up-right-corner{
    border-top-right-radius: 8px;
}
.table-grid .table-down-left-corner{
    border-bottom-left-radius: 8px;
}
.table-grid .table-down-right-corner{
    border-bottom-right-radius: 8px;
}
.table-price-down-vector::after{
    content: url('/assets/icons/trending-down.svg');
    padding-left: 10px;
}
.table-price-up-vector::after{
    content: url('/assets/icons/trending-up.svg');
    padding-left: 10px;
}
.main-first-table-container .p-text, .main-second-table-container .p-text{
    grid-area: p;
    margin: 20px auto ;
    padding: 5px 10px;
     border-radius: 5px;
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    line-height: 1.94rem;
}
.main-first-table-container .p-text{
    background-color: var(--soft-orange);}
.main-second-table-container .p-text{
    background-color:var(--soft-blue) ;
}

  main .main-qualities-container{
      position: relative;
      width: 100%;
      min-width: 320px;
      padding: 60px 5px 30px;
      font-size: 1.4rem;
      line-height: 1.8rem;
      color: #c9c9c9;
      background-color: var(--warm-black);
  }
  main .main-qualities-container #patata-icon{
    position: absolute;
    top: -12px;
    left: calc(50% - 20px);
    width: 40px;
    height: 25px;
    background: url(/assets/icons/batata.svg) no-repeat;

 }
  main .main-qualities-container h2{
    width: 90%;
    text-align: center;
    margin:0 auto 24px;
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 2.6rem;
      color: var(--just-white);
  }
  main .main-qualities-container .qualities-subtitle{ width: 80%; margin: 0 auto; text-align: center;}
  main .main-qualities-container .qualities-grid{
      display: grid;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      margin: 20px 0;
  }
  main .qualities-grid .quality-container{
      width: 90%;
      max-width: 368px;
      margin: 8px auto;
      padding: 16px;
      border-radius: 5px;
      text-align: left;
      background-color: var(--black);
  }
  main .qualities-grid .quality-container h3{
      font-weight: 700;
      font-size: 1.8rem;
      line-height: 1.8rem;
      color: var(--just-white);
      margin-bottom: 10px;
  }
  main .qualities-grid span{
        display: flex;
        height: 24px;
        margin-bottom: 10px ;
        width: 24px;
        background-position: center;
        background-size: contain;
  }
  main .qualities-grid .quality-time span{
    background: url(/assets/icons/clock.svg) no-repeat;
  }
  main .qualities-grid .quality-eye span{
    background: url(/assets/icons/eye.svg) no-repeat;
  }
  main .qualities-grid .quality-money span{
    background: url(/assets/icons/dollar-sign.svg) no-repeat;
  }
  main .qualities-grid .quality-check span{
    background: url(/assets/icons/check-circle.svg) no-repeat;
  }
  main .main-comodin-container{
      width: 100%;
      background: url(/assets/img/bitcoinbaby\ 1.jpg) no-repeat center / cover;
      height: 70vh;
      max-height: 400px;

  }
  main .main-comodin-container h2{
      font-weight: 700;
      font-size: 2.4rem;
      text-align: center;
      padding-top: 20%;
      color: var(--just-white);
  }
  main .main-plans-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 60px auto 0px ;
      width: 90%;
      text-align: center;
      justify-content: center;
  }
  main .main-plans-container h2{
      text-align: center;
      font-size: 2.4rem;
      font-weight: 700 ;
      color: var(--warm-black);
  }
  main .main-plans-container p{
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 1.4rem;
      line-height: 1.8rem;
      font-weight: 500;
  }
  main .cards-container{
      display: flex;
      width: 100%;
      min-width: 320px;
      overflow-x: scroll;
      overscroll-behavior-x:contain;
      scroll-snap-type:x proximity;
  }
  main .cards-container::-webkit-scrollbar {
    background-color: var(--soft-orange);
    height: 3px;
  }
  main .cards-container::-webkit-scrollbar-thumb {
    background-color: var(--secondary-blue);
  }
  main .main-plans-container  .flex-cards-container{
      width:calc(209px*3);
     display: flex;
     margin: 30px 0 60px;
  }

  main .main-plans-container .cards-container article{
        position: relative;
        scroll-snap-align: center ;
        min-width: 190px;
        height: 247px;
        margin: 0 8px;
        border-radius:8px ;
        background-color: var(--just-white);
        box-shadow: 0px 4px 8px rgba(89, 73, 30 ,0.16);
  }
  .main-plans-container .cards-container .flex-cards-container h4{
      margin: 10px auto 8px;
      font-size: 1.4rem;
      font-weight: 500;
      text-align: center;
      color: #000;
  }
  .main-plans-container .cards-container .flex-cards-container div{
      display: flex;
      justify-content: center;
  }
  .main-plans-container .cards-container .flex-cards-container span{
      display: flex;
      justify-content: center;
      font-size: 1.2rem;
      color: var(--black);
      margin-top: 10px;
  }
  .main-plans-container .cards-container .flex-cards-container .card-recomended-button{
    position: relative;
    padding: 8px;
    width: 90px;
    margin: 0 auto;
    transform: translate(0 , -50%);
    border-radius: 8px;
    background-color: var(--secondary-blue);
    color: var(--just-white);
    font-family: 'Inter', sans-serif;
}

  .main-plans-container .cards-container .flex-cards-container span strong{
      padding-left: 4px;
      font-size: 5.2rem;
      font-weight: 700;
      line-height: 4rem;
      font-family: 'Inter', sans-serif;
      color: black;
      letter-spacing: -.4rem;
  }
  main .main-plans-container .cards-container article p{
      margin-left: 16px;
      margin-right: 16px;
      font-family: 'Inter', sans-serif;
      font-weight: 500;
      font-size: 1.2rem;
      line-height: 1.4rem;
      color: rgb(107, 107, 107);
  }
  main .main-plans-container .cards-container article a p::after{
      position: absolute;
      transform: translate(10% , -16%);
      content: url('/assets/icons/east_white_24dp.svg');
  }
  main .main-plans-container .cards-container article a{
      display: flex;
      align-items: center;
      width: 151px;
      height: 48px;
      padding-right: 25px;
      margin: 0 auto;
      box-shadow: 0 4px 8px rgba(36, 30, 13, 0.16);
      border-radius: 5px;
      background-color: var(--secondary-blue);
      text-decoration: none;
  }
  .main-plans-container .cards-container .flex-cards-container .plus{background-color: var(--bitcoin-orange);}
  .main-plans-container .cards-container article .plus{background-color: var(--bitcoin-orange);}
  main .main-plans-container .cards-container article a:hover{
      cursor:pointer;
      transform: scale(1.05);
  }
  main .main-plans-container .cards-container article a p{
      margin: 0 auto;
      font-size: 1.4rem;
      color: var(--just-white);
  }
  footer{
      background-color: var(--bitcoin-orange);
      min-width: 320px;
      padding: 30px 0;
  }
  Footer .footer-grid{
      display: grid;
      grid-template-areas: 'list logo' 'list logo' 'list logo' 'list logo' ;
      width: 80%;
      margin: 0 auto;
      justify-content: space-between;
      align-items: center;
  }
  Footer .footer-grid p{
      margin: 8px 0;
  }
  Footer .footer-grid p a{
    font-weight: 500;
    font-size: 1.4rem;
    color: var(--just-white);
    text-decoration: none;
  }
  Footer .footer-grid img{
      grid-area: logo;
      justify-self: center;
      align-self: center;
  }
