/* 
Posicionamiento --> static, absolute, relative, fixed
Modelo de caja (Box model) --> margin, border, padding, content
Tipografía --> tipos, tamaños de fuente, etc
Estilos visuales --> box-shadow, border-radius, gradient, etc
Otros --> reglas CSS y más */
:root{
    --bitcoin-orange:#F7931A;
    --soft-orange:#FFE9D5;
    --secondary-blue:#1A9AF7;
    --soft-blue:#E7F5FF;
    --warm-black:#201E1C;
    --black:#282623;
    --grey:#BABABA;
    --off-white:#FAF8F7;
    --just-white:#FFFFFF;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}
header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}
header img{
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}
header .header--title-container{
    width: 90%;
    min-width: calc(320px*0.9);
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    align-self: center;
    text-align: center;
}
header .header--title-container h1{
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--just-white);
}
header .header--title-container p{
    margin-top: 25px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--just-white);
}
.header--title-container .header--button{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    padding: 15px;
    width: 229px;
    height: 48px;
    /* Decoracion */
    background: var(--just-white); border-radius: 5px; box-shadow: rgba(89, 73, 30 ,0.16) 0 4px 8px; border: none;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-align: center;
    color: var(--warm-black);
}
.header--title-container .header--button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background: url('/assets/icons/down-arrow.svg') no-repeat center
}
main{
    width: 100%;
    height: auto;
    background-color: var(--off-white);
}
main .main-exchange-container{
    width: 100%;
    padding: 70px 0 30px;
    text-align: center;
}
main section .backgroundImg{
    background: url(/assets/img/Bitcoin.svg) no-repeat center/cover ;;
    width: 200px;
    height: 200px;
    margin: 0 auto 40px;
}
main section .main-exchange-container--title{
    width: 90%;
    margin: 0 auto;
    max-width: 900px;
}
main section .main-exchange-container--title h2{
    margin-bottom: 24px;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--warm-black);
}
main section .main-exchange-container--title p{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
}

main .main-tables-container .table-grid{
    width: 60%;
    max-width: calc(900px*0.6);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin: 0 auto;
}
main .main-tables-container .table-grid p{
    margin: 1px ;
    padding: 5px;
    justify-content: left;
    background-color: var(--just-white);
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.94rem;
    color: #b5b0ac;
    
}
main .table-grid #left-top-corner{
    border-top-left-radius:8px; 
}
main .table-grid #right-top-corner{
    border-top-right-radius: 8px;
}
main .table-grid #left-bottom-corner{
    border-bottom-left-radius: 8px;
}
main .table-grid #right-bottom-corner{
    border-bottom-right-radius: 8px;
}
